<h1>Rate Feed</h1>

<p *ngIf="status">Latest feed: <strong>{{ currencyPair }} : {{rate}}</strong></p>

<p *ngIf="!status"><em>Status: {{initMessage}}</em></p>

<table class='table' *ngIf="rateFeeds.length > 0">
    <thead>
        <tr>
            <th>Base Currency</th>
            <th>Target Currency</th>
            <th>Rate</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rateFeed of rateFeeds.reverse()">
            <td>{{ rateFeed.baseCurrency }}</td>
            <td>{{ rateFeed.targetCurrency }}</td>
            <td>{{ rateFeed.rateValue }}</td>
            <td>{{ rateFeed.reference }}</td>
        </tr>
    </tbody>
</table>